<!doctype html>
<html>
  <head>
    <title>Project 10 | Update CRUD</title>
  </head>
  <body style="text-align: center; font-family: Arial">
    <h2>Student List (Update Project)</h2>

    <table border="1" style="margin: auto; width: 50%">
      <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Action</th>
      </tr>
      {% for s in students %}
      <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.roll_no }}</td>
        <td>
          <a href="/update/{{ s.id }}/" style="color: blue">Edit</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No students found. Add some from Admin!</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
