{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Results - Styled</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h2 style="text-align: center">Styled Student Table</h2>
    <table
      border="5"
      style="width: 80%; margin: auto; text-align: center"
      bgcolor="orange"
      cellspacing="10"
    >
      <tr bgcolor="white">
        <th>Sr.No</th>
        <th>Roll No</th>
        <th>Name</th>
        <th>Team</th>
      </tr>
      {% for d in result %}
      <tr
        class="{% cycle 'even' 'odd' %}"
        bgcolor="{% cycle '#f2f2f2' '#ffffff' %}"
      >
        <td>{{ d.srno }}</td>
        <td>{{ d.roll }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.team }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
