<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Student Data Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h2 style="text-align: center">All Students List</h2>
    <table
      border="5"
      style="width: 80%; margin: auto; text-align: center"
      bgcolor="orange"
      cellspacing="10"
    >
      <tr bgcolor="white">
        <th>Sr.No</th>
        <th>Roll No</th>
        <th>Name</th>
        <th>Team</th>
      </tr>
      {% for d in result %}
      <tr bgcolor="pink">
        <td>{{ d.srno }}</td>
        <td>{{ d.roll }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.team }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
