{% extends "index.html" %}


{% block blog %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(135deg, #000000, #383838); 
      color: #ffffff; 
    }
    .container {
      margin-top: 100px;
    }
    .btn-custom {
      background-color: #ffde59;
      border-color: #ffde59;
      color: #333; 
      transition: background-color 0.3s; 
    }
    .btn-custom:hover {
      background-color: #ffd166; 
      border-color: #ffd166;
    }
    .link {
      color: #ffffff; 
    }
    .link:hover {
      color: #f5cac3; 
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="mb-4">Welcome</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <a href="{% url "profile" %}"><button type="submit" class="btn btn-lg btn-custom mr-3">Login</button></a>
        </form>
        <p class="mt-4">Don't have an account? <a href="{% url 'signup' %}" class="link">Sign up here</a>.</p>
      </div>
    </div>
  </div>
  {{error}}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock blog %}