{% extends "index.html" %}
{% load static %}

{% block title %}  login page    {% endblock title %} 


{% block bank %}  
<section class="wrapper">
        <div class="container">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                <form class="rounded bg-white shadow p-5" method='post' > 
                    {% csrf_token %}
                    <h3 class="text-dark fw-bolder fs-4 mb-2"> Sign In PBH Bank</h3>
                    <div class="fw-normal text-muted mb-4">
                        New Here? <a href="{% url 'register' %}" class="text-primary fw-blod text-decoration-none"> Create an Account </a>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="mt-2 text-end">
                        <a href="#" class="text-primary fw-blod text-decoration-none"> Forget Password? </a>
                    </div>
                    <button type="submit" class="btn btn-primary submit_btn w-100 my-4"><a href="{% url 'home' %}" class="text-decoration-none text-white" > Continue </a></button>
                    <div class="text-center text-muted text-uppercase mb-3"> or </div>
                    <a href="#" class="btn btn-light login_with w-100 mb-3">
                        <img src="{% static 'images/google-icon.svg' %}" class="img-fluid me-3"> Continue with Google
                    </a>
                    <a href="#" class="btn btn-light login_with w-100 mb-3">
                        <img src="{% static 'images/facebook-icon.svg' %}" class="img-fluid me-3"> Continue with Facebook
                    </a>
                    <a href="#" class="btn btn-light login_with w-100 mb-3">
                        <img src="{% static 'images/linkedin-icon.svg' %}" class="img-fluid me-3"> Continue with Linkin
                    </a>
                </form>
            </div>
        </div>
</section>

{% endblock bank %}    