{% extends "index.html" %}
{% load static %}


{% block title %} register page {% endblock title %} 

{% block bank %}
  <section class="wrapper p-5">
    <div class="container ">
       <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <form class="rounded bg-white shadow p-5" method='post' action='{% url 'login' %}'> 
                {% csrf_token %}
                <h3 class="text-dark fw-bolder fs-4 mb-2"> Create an Account </h3>
                <div class="fw-normal text-muted mb-2">
                     Already Have an account? <a href="{% url 'login' %}" class="text-primary fw-blod text-decoration-none"> login in here </a>
                </div>

                <div class="text-center text-muted text-uppercase mb-2"> or </div>
                <a href="#" class="btn btn-light login_with w-100 mb-4">
                    <img src="{% static 'images/google-icon.svg' %}" class="img-fluid me-3"> Sign in with Google
                </a>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingFirstName" placeholder="name@example.com">
                    <label for="floatingFirstName">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingLastName" placeholder="name@example.com">
                    <label for="floatingLastName">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>

                 <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                     <label for="floatingPassword">Password</label>
                    <span class="password-info mt-2">
                          Use 8 or more characters with a mix of letters,numbers & symbols.
                    </span>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Password">
                    <label for="floatingConfirmPassword">Confirm Password</label>
                </div>

                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                    <label class="form-check-label ms-2" for="gridCheck">
                         I Agree <a href="#"> Terms and Condition </a>.
                    </label>
                </div>
                   
                <button type="submit" class="btn btn-primary submit_btn w-100 my-4"><a href="{% url 'login' %} "class="text-decoration-none text-white" > Continue </a> </button>
                   
            </form>
        </div>
    </div>
  </section>

{% endblock bank %}